/* .card{
    display: 'flex'
    textDecoration: product.isDiscounted ? 'line-through' : 'none'
} */

/* img {
    width:  100px;
    height: 100px;
    object-fit: cover;
} */

.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .card-body {
    flex: 1 0 auto;
  }
  
  .card-footer {
    flex-shrink: 0;
  }

  element.style {
    width: 18rem;
    height: 600px;
}